.content {
    display: flex;
    flex-direction: row;
    height: 100%;

    app-sidebar {
        width: 20%;
    }
    
    app-main-screen {
        width: 80%;

        table {
            thead, tbody {
                tr {
                    th, td{
                        color: #525F7F;
                        font-family: 'Podkova',;
                        font-weight: 700;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}