<div class="content">
    <div class="card">
        <div class="logo-card">
            <img src="/assets/logo-icon.svg" alt="">
            <p>CADASTRE-SE</p>
        </div>
        <div class="form-card">
            <div class="name-input">
                <img src="/assets/email-icon.svg" alt="" class="icon-input">
                <input type="text" class="input-login" placeholder="Nome completo">
            </div>
            <div class="email-input">
                <img src="/assets/email-icon.svg" alt="" class="icon-input">
                <input type="text" class="input-login" placeholder="Celular ou Email">
            </div>
            <div class="password-input">
                <img src="/assets/email-icon.svg" alt="" class="icon-input">
                <input type="text" class="input-login" placeholder="Senha">
            </div>
            <div class="button-submit">
                <button>Cadastrar-se</button>
            </div>
        </div>
        <div class="footer-card">
            <a href="" class="footer-paragraph">Já tenho uma conta!</a>
        </div>
    </div>
</div>