<div class="container">
    <div class="perfil-user dropdown">
        <button class="dropdown-toggle d-flex bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/person-image.svg" alt="">
            <p>Daniel</p>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Sair</a></li>
        </ul>
    </div>

    <div class="main">
        <div class="top">
            <div class="left">
                <i class="bi bi-list"></i>
                <p>{{title}}</p>
            </div>
            <div class="right">
                <!-- ativando o modal -->
                <button class="include" data-bs-toggle="modal" data-bs-target="#modal"><i class="bi bi-plus"></i>Incluir</button>
                <button class="reload"><i class="bi bi-arrow-clockwise"></i>Recarregar</button>
            </div>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>
</div>