<div class="container">
    <!-- <div class="perfil-user">
        <img src="/assets/person-image.svg" alt="">
        <p>Daniel</p>
    </div> -->

    <div class="main">
        <h1>Ola</h1>
        <!-- <div class="top">
            <div class="left">
                <i class="bi bi-list"></i>
                <p>Usuários</p>
            </div>
            <div class="right">
                <button class="include"><i class="bi bi-plus"></i>Incluir</button>
                <button class="reload"><i class="bi bi-arrow-clockwise"></i>Recarregar</button>
            </div>
        </div> -->
        <div class="content">
            <ng-content select="div"></ng-content>
        </div>
    </div>
</div>