.container {
    width: 100%;
    height: 100vh;

    padding: 2%;

    background-image: url(/assets/main-screen-bg.svg);
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;

    .perfil-user {
        display: flex;
        justify-content: flex-end;
        text-align: center;

        padding-right: 12%;

        width: 100%;
        height: 7%;
        gap: 2%;

        img {
            background-color: #D9D9D9;
            border-radius: 50%;
        }

        p {
            color: white;
            font-weight: 600;
            font-size: 1.5rem;
            margin-top: 0.6%;
        }

        .dropdown-toggle::after {
            content: none;
        }
    }

    .main {
        display: flex;
        flex-direction: column;

        padding: 1%;
        padding-inline: 3%;

        width: 95%;
        height: 80%;

        margin-top: 2%;
        border-radius: 8px;
        background-color: white;

        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .left {
                display: flex;
                font-size: 1.6rem;
                font-weight: 600;
                color: #32325D;

                i {
                    font-size: 2rem;
                }

                p {
                    margin-top: 2.5%;
                }
            }

            .right {
                display: flex;
                height: 90%;
                gap: 10%;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 60%;

                    border-radius: 10px;
                    border: none;
                    outline: none;

                    color: white;
                    font-size: 1.1rem;
                    font-weight: 500;
                }

                .include {
                    background-color: #949494;
                    width: 7rem;
                }

                .reload {
                    background-color: #FB6340;
                    width: 9rem;
                }
            }
        }
    }
}