<div class="content">
    <div class="card">
        <div class="logo-card">
            <img src="/assets/logo-icon.svg" alt="">
            <p class="title">CADASTRE-SE</p>
            <p>Informe o email para redefinir sua senha</p>
        </div>
        <div class="form-card">
            <div class="email-input">
                <img src="/assets/email-icon.svg" alt="" class="icon-input">
                <input type="text" class="input-login" placeholder="Email">
            </div>
            <div class="password-input">
                <img src="/assets/email-icon.svg" alt="" class="icon-input">
                <input type="text" class="input-login" placeholder="Nova Senha">
            </div>
            <div class="button-submit">
                <button>Redefinir Senha</button>
            </div>
        </div>
        <div class="footer-card">
            <a href="" class="footer-paragraph">Já tenho uma conta!</a>
        </div>
    </div>
</div>