.content {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/background-image.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3%;
        width: 35%;
        background-color: #F7FAFC;
        border-radius: 10px;

        .logo-card {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                width: 35%;
            }
            
            .title {
                font-size: 2.5rem;
                font-family: 'Podkova';
                margin-top: 3%;
            }

            p {
                font-size: 1.5rem;
                font-family: 'Podkova';
                margin-top: 2%;
            }
        }

        .form-card {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 3%;
            
            .email-input, .password-input {
                display: flex;
                height: 5vh;
                margin-top: 3%;
                background-color: white;

                input {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #C1C1C1;
                    border-left: none;
                    border-radius: 0 5px 5px 0;
                    outline: none;
                    font-size: 1.3rem;
                    padding-left: 2%;
                    color: var(--gray-light);
                }

                img {
                    height: 100%;
                    width: 6%;
                    padding-left: 2%;
                    border: 1px solid #C1C1C1;
                    border-right: none;
                    border-radius: 5px 0 0 5px;
                }
            }

            .remember {
                display: flex;
                margin-top: 2%;

                p {
                    margin-left: 1%;
                    color: var(--gray-light);
                }
            }

            .button-submit {
                display: flex;
                justify-content: center;
                margin-top: 5%;

                button {
                    border-radius: 6px;
                    border: none;
                    outline: 0;
                    width: 25%;
                    height: 4vh;
                    background-color: #949494;
                    font-size: 0.9rem;
                    color: white;
                }
            }
        }

        .footer-card {
            display: flex;
            justify-content: flex-end;
            margin-top: 5%;

            .footer-paragraph {
                color: #949494;
                text-decoration: none;
            }
        }
    }
}