<!-- Modal -->
<div style="width: 30%; margin-left: 38%;" class="modal fade" id="save" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content blue-text">
        <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body blue-text d-flex justify-content-center text-center flex-column">
            <div class="img">
                <img src="/assets/complete-icon.svg" alt="">
            </div>
            <div class="title">
                <h4><strong>Salvo!</strong></h4>
            </div>
            <div class="paragraph">
                <p><strong>Registro 1 salvo<br>com sucesso</strong></p>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button class="btn btn-success" data-bs-toggle="modal">OK</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  