<div class="content">
    <app-sidebar></app-sidebar>

    <app-main-screen>
        <table class="table caption-top">
            <thead>
                <tr class="text-start">
                    <th scope="col">Código<i class="bi bi-caret-down-fill"></i></th>
                    <th scope="col">Usuário<i class="bi bi-caret-down-fill"></i></th>
                    <th scope="col">Email<i class="bi bi-caret-down-fill"></i></th>
                    <th scope="col">Ações<i class="bi bi-caret-down-fill"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableInfo">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.user}}</td>
                    <td>{{item.email}}</td>
                    <td class="gap-2 d-flex w-100">
                        <button class="btn btn-secondary">
                            <i class="bi bi-pencil-square edit-action"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="bi bi-trash-fill delete-action"></i>
                        </button>
                    </td>
                            
                </tr>
            </tbody>
        </table>
    </app-main-screen>
</div>