<div class="content">
    <div class="card">
        <div class="logo-card">
            <img src="/assets/logo-icon.svg" alt="">
            <p>LOGIN</p>
        </div>
        <div class="form-card">
            <div class="email-input">
                <img src="/assets/email-icon.svg" alt="" class="icon-input">
                <input [(ngModel)]="userLogin.USR_UserName" type="text" class="input-login" placeholder="Email">
            </div>
            <div class="password-input">
                <img src="/assets/email-icon.svg" alt="" class="icon-input">
                <input [(ngModel)]="userLogin.USR_Password" type="text" class="input-login" placeholder="Senha">
            </div>
            <div class="remember">
                <input type="checkbox">
                <p>Lembrar de mim!</p>
            </div>
            <div class="button-submit">
                <button (click)="sendLoginData()">Entrar!</button>
            </div>
        </div>
        <div class="footer-card">
            <a href="redefine-password" class="footer-paragraph">Esqueceu a senha?</a>
            <a href="register-login" class="footer-paragraph">Criar uma nova conta!</a>
        </div>
    </div>
</div>